$breakpoint-tablet: 768px;
$color_1: #f7f7f7;


.card-list {
	display: grid;
	gap: 40px;
	background: $color_1;
	border-radius: 25px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 46px;
	padding: 56px 50px;
	a {
		text-decoration: none;
	}
}
@media (max-width: $breakpoint-tablet) {
	.card-list {
		background: none;
		gap: 20px;
		grid-template-columns: 1fr;
		margin-bottom: 22px;
		margin-top: 22px;
		padding: 0;
	}
}

