.rating {
	display: flex;
	flex-direction: row;
	column-gap: 15px;
	img { width: 24px;
	height: 24px;
}

@media (max-width:767px) {
	.rating {
		column-gap: 6px;
    }
		img {
			width: 13px;
			height: 13px;
		}
	}
}